<div class="container text-center bg-light p-5" style="min-height: 100vh">
    <div class="row mt-4 h-100 justify-content-center align-items-center">
        <form style="width:80%">
            <div class="form-row form-group">
                <div class="col-md-6 mb-4 mr-2">
                    <div class="form-group">
                        <h4 class="mb-5">Dane osobowe:</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Imię:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Imię">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nameText">Nazwisko:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="nameText" placeholder="Nazwisko">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">E-mail:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Nr telefonu:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Nr telefonu">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="mb-5">Adres dostawy:</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Ulica:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Ulica">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Nr domu / lokalu:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Nr domu / lokalu">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Miasto:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Miasto">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userText">Kod pocztowy:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="userText" placeholder="Kod pocztowy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  form-row  align-items-center">
                    <button type="submit" class="btn btn-light mx-auto btn-outline-secondary" style="height: 50px;width: 80px" data-toggle="button"
                            aria-pressed="true" autocomplete="off">
                        Zapłać
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


