<div class="container my-5 text-center" style="min-height: 100vh">
    <h4>
        Dziękujemy za złożenie zamówienia.
    </h4>
    <h4 class="mb-5">
        Prosimy o wykonanie przelewu na poniższe dane:
    </h4>
    <h5>Blue Diamond</h5>
    <h5>Katowice</h5>
    <h5 class="mb-5">Niebieska 8</h5>
    <h5>Nr konta bankowego:</h5>
    <h5 class="mb-5">12345678902345690</h5>
    <a class="btn btn-light" data-toggle="button" aria-pressed="true" autocomplete="off" 
        asp-action="List" asp-controller="Product">Wróć</a>
</div>