@model ProductListViewModel


<div class="container text-center bg-light ">
    <div class="row h-100 justify-content-center align-items-center">
        <h2 class="my-4">Kategoria: @Model.CategoryName</h2>
        <div class="container ">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <partial name="ProductDetails" model="product" />
                }
            </div>
        </div>
    </div>
</div>